.banner{
    padding: 15px 10px 15px;
    background: rgb(50, 50, 185);
    text-align: left;
    color: white;
    width: auto;  
}

.search_form{
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.table_css{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.pani{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.pani:active{
    background-color: rgb(40, 40, 168);
}