.register-form {
  width: 70%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.form-warning {
  color: red;
  margin-top: 10px;
}
.lo1{
  width: 300px;
  height: 300px;
}

.form-confirm {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.form-modal {
  margin-top: 10%;
}
