.banner{
    background-color: white;
    color: rgba(25, 25, 209, 0.781);
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-doc{
    float: right;
}

.form-in{
    margin-left: 40px;
    margin-top: 20px;
}