.forgot {
  overflow: auto;
  padding: 10px 40px 80px;
  margin-top: 10%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 10px;
}

.next {
  float: right;
}

.otp_banner {
  margin-left: auto;
  margin-right: auto;
}
