.form-login {
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-top: 20px;
}


.form-forgot {
  float: right;
}

.fpt {
  margin-top: 10%;
  float: left;
  margin-left: 10%;
}
.positionBox {
  margin-top: 10%;
}
.sp {
  float: left;
}
.background {
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.content-panel {
  padding: 20px 40px;
  position: relative;
}

.logo-fpt{
  width:300px;
  height: 180px;
}

.logo-system{
  width: 270px;
  height: 110px;
}
.logo-sp{
  width: 400px;
  height: 80px;
}

