html { width: 100%; height:100%;}

.bg{
  
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-login{
  padding: 10px 40px 80px;
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}

.form-forgot{
  float: right;
}

input { 
    width: 100%; 
    margin-bottom: 10px; 
    border: none;
    outline: none;
    padding: 10px;
    color: rgb(10, 10, 10);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
  }
  input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }