.noti{
    float: right;
}
.navbar:after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color:gray;
}

.navbar{
    background-color: white;
    padding: 0px 0px;
}

.navbar .nav{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    justify-content: end;
    width: 80vw;
    margin-right: 2rem;
}
.navbar .nav-link{
    padding: 0;
}

