.noti{
    float: right;
}
.con:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color:black;
}
.avt{
    margin-left: 80%;
    margin-bottom: -1rem;
}