
.navbar1{
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #bbbdc7;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 1rem;
    font-size: 25px;
    background: none;
    cursor: pointer;
}

.menu-bars-close {
    margin-left: 4rem;
    font-size: 25px;
    background: none;
    transition: 800ms;
    cursor: pointer;
}

.nav-menu{
    background-color: #404f9f;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.sn-bg-4 {
    background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav4.jpg);
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
    z-index: 1;
    transition: 800ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 10px;
    list-style: none;
    height: 70px;
}

.nav-text a {
    text-decoration: none;
    color: #404f9f;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: rgb(0, 162, 255);
}

.nav-menu-items{
    width: 100%;
}

.navbar-toogle{
    background-color:  #bbbdc7;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-item{
    display: flex;
    position: absolute;
    right: 0;
}


