.reset {
  overflow: auto;
  padding: 10px 40px 40px;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.update {
  float: right;
}
