.sidebar{
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: white;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.sidebar .logo{
    padding: 15px 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
  }

.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}

.sidebar .nav {
    margin-top: 20px;
    display: block;
  }

  .sidebar .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 6px;
  }
  
  .sidebar .nav li>a:hover,
  .sidebar .nav li>a:focus {
    background-color: transparent;
    outline: none;
  }

  .sidebar .nav p {
    margin: 10px;
    font-size: 20px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    text-align: left;
  }
  
  .sidebar .nav img {
    float: left;
    margin-right: 20px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
  }
  
  
  .sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }

  
  