.main-panel1 {
    overflow: scroll;
    background: white;
    overflow: hidden;
    display: block;
    position: relative;
    float: right;
    width: calc(100% - 300px);
    height: calc(100vh);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.form-search{
    width: 100%;
    margin-left: 10%;
    margin-top: 2rem;
}
.form-search:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    background-color: rgba(17, 14, 14, 0.3);
  }

.form-add{
    width: 500px;
    height: 300px;
    padding: 10px 10px;
}
.btn-group:active{
    background-color: rgb(35, 35, 211);
}

.hide{
    display: none;
}
.row_data:hover .hide{
    display: block;
}