.forgot{
    padding: 15px 0px 15px;
    margin-top: 15%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.style_input{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 0px;
}

.style_input2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
}
.btn_next{
    padding: 10px 0px 0px;
}


.btn_next_2{
    margin-left: 69%;
}

.btn_update{
    margin-left: 66%;
}

.otp_banner{
    margin-left: auto;
    margin-right: auto;
}

