body {
  width: auto;
  height: auto;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}